@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 124, 129, 173;
  --background-start-rgb: 124, 129, 173;
  --background-end-rgb: 124, 129, 173;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 46, 67, 116;
    --background-start-rgb: 46, 67, 116;
    --background-end-rgb: 46, 67, 116;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
  height: 100%;
  background: url("/images/image6.png") no-repeat center center fixed;

  background-size: cover;
}


@keyframes moveLeftRight {
  0%, 100% {
    left: 0;
  }
  50% {
    left: 3em; /* Adjust the distance as needed */
  }
}



/* styles.css */
.animated-cell {
  transition: transform 1s ease-in-out;
}

