/* gameboard.css */

#gameboard {

    /* --grid-size:7;
    --cell-size: 10vmin;
    --cell-gap: 1vmin; */
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size)); 
    background-color: transparent;
    gap: var(--cell-gap);
    border: 1vmin solid white;
    padding: var(--cell-gap)

}


.cell{
    background-color: white;
    border-radius: 1vmin;
}

.gap{
    background-color: black;
    border-radius: 1vmin;
}


.tile {
    --x: 0;
    --y: 1;
    --shiftX: 4.66;
    --shiftY: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: var(--cell-size);
    height: var(--cell-size);
    top: calc((var(--y) + var(--shiftY)) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap)); /* Removed the extra '+' */
    left: calc((var(--x) + var(--shiftX)) * (var(--cell-size) + var(--cell-gap)) + 2 * var(--cell-gap));
    border-radius: 1vmin;
    animation: show 200ms ease-in-out;
    transition: 100s ease-in-out;
}

@keyframes show{
    0%{
        opacity: 0.5;
        transform: scale(0);
    }
}